Repository jsonnext/codemirror-json-schema: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, test, check

prettier:
  run: pnpm prettier:write {staged_files}
  stage_fixed: true

test:
  run: pnpm vitest --run --dom related {staged_files}
  fail_text: Tests failed or not found on {staged_files}

check:
  run: pnpm tsc --noEmit

Added missing imports in README.md example
  README.md
Due: prettier

remove json-schema
  package.json
  pnpm-lock.yaml
Due: prettier

add changelog
  .changeset/chatty-cooks-cover.md
Due: prettier

poorly working example with next and turbo
  examples/next-turbo/.gitignore
  examples/next-turbo/README.md
  examples/next-turbo/next.config.js
  examples/next-turbo/package-lock.json
  examples/next-turbo/package.json
  examples/next-turbo/public/next.svg
  examples/next-turbo/public/vercel.svg
  examples/next-turbo/src/app/editor.tsx
  examples/next-turbo/src/app/favicon.ico
  examples/next-turbo/src/app/globals.css
  examples/next-turbo/src/app/layout.tsx
  examples/next-turbo/src/app/page.module.css
  examples/next-turbo/src/app/page.tsx
  examples/next-turbo/tsconfig.json
  tsconfig.json
Due: prettier, test, check

simple example of next and turbo
  examples/next-turbo/src/app/editor.tsx
  examples/next-turbo/src/app/page.tsx
Due: prettier, test, check

fix non-impacting but noisy dependency vulnerabilities
  .changeset/tiny-rocks-invite.md
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: prettier

.js file imports and schema loading as statefield
  dev/index.html
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/__helpers__/completion.ts
  src/__tests__/json-completion.spec.ts
  src/__tests__/json-hover.spec.ts
  src/__tests__/json-validation.spec.ts
  src/bundled.ts
  src/index.ts
  src/json-completion.ts
  src/json-hover.ts
  src/json-validation.ts
  src/json5-bundled.ts
  src/json5-hover.ts
  src/json5-validation.ts
  src/json5.ts
  src/state.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/__tests__/parseJSONDocument.spec.ts
  src/utils/jsonPointers.ts
  src/utils/node.ts
  src/utils/parseJSON5Document.ts
  src/utils/parseJSONDocument.ts
  src/utils/schema-lib/README.md
  src/utils/schema-lib/getSchema.ts
  src/utils/schema-lib/step.ts
  tsconfig.json
Due: prettier, test, check

improve docs, cleanup, add changeset
  .changeset/strange-chicken-smell.md
  README.md
  dev/index.ts
  src/bundled.ts
  src/json-completion.ts
  src/json-validation.ts
  src/json5-bundled.ts
  src/json5-hover.ts
  src/json5-validation.ts
Due: prettier, test, check

a few tests to demonstrate a few failing test cases
  src/__tests__/__fixtures__/schemas.ts
  src/__tests__/json-completion.spec.ts
Due: prettier, test, check

fix required values
  README.md
  src/__tests__/json-completion.spec.ts
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/jsonPointers.ts
Due: prettier, test, check

fix tests
  src/__tests__/__fixtures__/schemas.ts
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/__tests__/parseJSONDocument.spec.ts
  src/utils/jsonPointers.ts
Due: prettier, test, check

fix required fields validation
  .changeset/heavy-geckos-exist.md
Due: prettier

fix required values
  .changeset/heavy-geckos-exist.md
  README.md
  src/__tests__/__fixtures__/schemas.ts
  src/__tests__/json-completion.spec.ts
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/__tests__/parseJSONDocument.spec.ts
  src/utils/jsonPointers.ts
Due: prettier, test, check

bug for no value context
  .gitignore
  package.json
  pnpm-lock.yaml
  src/__tests__/json-validation.spec.ts
  src/json-completion.ts
  src/json-hover.ts
  src/json-validation.ts
  src/utils/dom.ts
  src/utils/formatting.ts
  src/utils/schema-lib/README.md
  src/utils/schema-lib/getSchema.ts
  src/utils/schema-lib/step.ts
Due: prettier, test, check

fix the version
  package.json
  src/json-hover.ts
  src/json-validation.ts
Due: prettier, test, check

lockfile
  pnpm-lock.yaml
Due: none

fix tests
  src/__tests__/json-hover.spec.ts
  src/__tests__/json-validation.spec.ts
  src/json-hover.ts
Due: prettier, test, check

v0.5.1-canary.0
  .changeset/nasty-islands-help.md
  CHANGELOG.md
  package.json
Due: prettier

fix upstream tests
  src/__tests__/json-validation.spec.ts
Due: prettier, test, check

upgrade json schema lib, replace backticks with code blocks, no value context bug (#64)
  .changeset/nasty-islands-help.md
  .gitignore
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
  src/__tests__/json-hover.spec.ts
  src/__tests__/json-validation.spec.ts
  src/json-completion.ts
  src/json-hover.ts
  src/json-validation.ts
  src/utils/dom.ts
  src/utils/formatting.ts
  src/utils/schema-lib/README.md
  src/utils/schema-lib/getSchema.ts
  src/utils/schema-lib/step.ts
Due: prettier, test, check

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier

a few tests to demonstrate a few failing test cases
  src/__tests__/json-completion.spec.ts
Due: prettier, test, check

export handleRefresh
  .changeset/rude-shirts-bake.md
  src/index.ts
Due: prettier, test, check

export `handleRefresh` (#81)
  .changeset/rude-shirts-bake.md
  src/index.ts
Due: prettier, test, check

handle undefined position
  .changeset/stale-dolls-occur.md
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
Due: prettier, test, check

cleanup, revert test
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
Due: prettier, test, check

handle undefined position (#83)
  .changeset/stale-dolls-occur.md
  src/__tests__/json-validation.spec.ts
  src/json-validation.ts
Due: prettier, test, check

Added YAML support
  dev/index.html
  dev/index.ts
  dev/sample-text.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/__helpers__/completion.ts
  src/__tests__/__helpers__/index.ts
  src/__tests__/json-completion.spec.ts
  src/__tests__/json-hover.spec.ts
  src/__tests__/json-validation.spec.ts
  src/constants.ts
  src/json-completion.ts
  src/json-hover.ts
  src/json-validation.ts
  src/json5-bundled.ts
  src/types.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/__tests__/node.spec.ts
  src/utils/__tests__/parse-yaml-document.spec.ts
  src/utils/debug.ts
  src/utils/dom.ts
  src/utils/formatting.ts
  src/utils/jsonPointers.ts
  src/utils/markdown.ts
  src/utils/node.ts
  src/utils/parse-yaml-document.ts
  src/utils/parseJSON5Document.ts
  src/utils/parseJSONDocument.ts
  src/yaml-bundled.ts
  src/yaml.ts
Due: prettier, test, check

organizing
  package.json
  src/__tests__/__helpers__/index.ts
  src/json-completion.ts
  src/json-validation.ts
  src/json5-bundled.ts
  src/json5.ts
  src/json5/bundled.ts
  src/json5/completion.ts
  src/json5/hover.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/utils/dom.ts
  src/yaml-bundled.ts
  src/yaml.ts
  src/yaml/bundled.ts
  src/yaml/completion.ts
  src/yaml/hover.ts
  src/yaml/index.ts
  src/yaml/validation.ts
Due: prettier, test, check

Create silly-oranges-worry.md
  .changeset/silly-oranges-worry.md
Due: prettier

cleanup
  src/json-hover.ts
  src/utils/jsonPointers.ts
Due: prettier, test, check

updated changeset
  .changeset/silly-oranges-worry.md
Due: prettier

added updateSchema for yaml editor
  dev/index.ts
Due: prettier, test, check

Added YAML support (#85)
  .changeset/silly-oranges-worry.md
  dev/index.html
  dev/index.ts
  dev/sample-text.ts
  package.json
  pnpm-lock.yaml
  src/__tests__/__helpers__/completion.ts
  src/__tests__/__helpers__/index.ts
  src/__tests__/json-completion.spec.ts
  src/__tests__/json-hover.spec.ts
  src/__tests__/json-validation.spec.ts
  src/constants.ts
  src/json-completion.ts
  src/json-hover.ts
  src/json-validation.ts
  src/json5.ts
  src/json5/bundled.ts
  src/json5/completion.ts
  src/json5/hover.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/types.ts
  src/utils/__tests__/jsonPointers.spec.ts
  src/utils/__tests__/node.spec.ts
  src/utils/__tests__/parse-yaml-document.spec.ts
  src/utils/debug.ts
  src/utils/dom.ts
  src/utils/formatting.ts
  src/utils/jsonPointers.ts
  src/utils/markdown.ts
  src/utils/node.ts
  src/utils/parse-yaml-document.ts
  src/utils/parseJSON5Document.ts
  src/utils/parseJSONDocument.ts
  src/yaml/bundled.ts
  src/yaml/completion.ts
  src/yaml/hover.ts
  src/yaml/index.ts
  src/yaml/validation.ts
Due: prettier, test, check

export yamlSchema, yamlCompletion, yamlSchemaLinter, yamlSchemaHover
  .changeset/seven-bees-exercise.md
  src/index.ts
Due: prettier, test, check

Path conditions:
  prettier: any of: *.{js,ts,jsx,tsx,json,css,html,yml,mdx,md}
  test: any of: *.{js,ts,jsx,tsx}
  check: any of: *.{js,ts,jsx,tsx}
