Repository jsonnext/codemirror-json-schema: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, test, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,json,css,html,yml,mdx,md}"
      run: pnpm prettier:write {staged_files}
      stage_fixed: true
    test:
      run: pnpm vitest --run --dom related {staged_files}
      glob: "*.{js,ts,jsx,tsx}"
      fail_text: Tests failed or not found on {staged_files}
    check:
      run: pnpm tsc --noEmit
      glob: "*.{js,ts,jsx,tsx}"

minor refactor
  src/features/validation.ts
Due: prettier, test, check

updated json-schema-library to get upstream fixes
  package.json
  pnpm-lock.yaml
Due: prettier

Create green-dogs-sniff.md
  .changeset/green-dogs-sniff.md
Due: prettier

fix demo highlighting (#122)
  .changeset/funny-ligers-call.md
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/features/validation.ts
Due: prettier, test, check

updated json-schema-library to get upstream fixes (#123)
  .changeset/green-dogs-sniff.md
  package.json
  pnpm-lock.yaml
Due: prettier

Get sub schema using parsed data for additional context
  dev/package.schema.json
  dev/sample-text.ts
  package.json
  pnpm-lock.yaml
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
  src/features/validation.ts
  src/index.ts
  src/json-completion.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/parsers/__tests__/json-parser.spec.ts
  src/parsers/__tests__/yaml-parser.spec.ts
  src/parsers/index.ts
  src/parsers/json-parser.ts
  src/parsers/json5-parser.ts
  src/parsers/yaml-parser.ts
  src/utils/debug.ts
  src/yaml/index.ts
  src/yaml/validation.ts
Due: prettier, test, check

added tests
  dev/package.schema.json
  dev/sample-text.ts
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/json5/validation.ts
  src/yaml/validation.ts
Due: prettier, test, check

Create few-ducks-explain.md
  .changeset/few-ducks-explain.md
Due: prettier

applied best effort parsing by default
  src/features/__tests__/json-validation.spec.ts
  src/features/completion.ts
  src/parsers/index.ts
  src/parsers/json-parser.ts
  src/parsers/json5-parser.ts
Due: prettier, test, check

Get sub schema using parsed data for additional context (#133)
  .changeset/few-ducks-explain.md
  package.json
  pnpm-lock.yaml
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/__tests__/json-validation.spec.ts
  src/features/completion.ts
  src/features/validation.ts
  src/index.ts
  src/json-completion.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/parsers/__tests__/json-parser.spec.ts
  src/parsers/__tests__/yaml-parser.spec.ts
  src/parsers/index.ts
  src/parsers/json-parser.ts
  src/parsers/json5-parser.ts
  src/parsers/yaml-parser.ts
  src/utils/debug.ts
  src/yaml/index.ts
  src/yaml/validation.ts
Due: prettier, test, check

added limited support for conditional property values
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
Due: prettier, test, check

Create nine-timers-develop.md
  .changeset/nine-timers-develop.md
Due: prettier

remove everything shiki
  package.json
  pnpm-lock.yaml
  src/utils/markdown.ts
Due: prettier, test, check

remove linkify-it
  package.json
  pnpm-lock.yaml
Due: prettier

bump version
  .changeset/few-ducks-explain.md
  CHANGELOG.md
  package.json
Due: prettier

completion: fix markdown rendering
  src/features/completion.ts
Due: prettier, test, check

tests: completion: support rendering function at info
  src/features/__tests__/__helpers__/completion.ts
Due: prettier, test, check

.changeset: add for completion markdown rendering fix
  .changeset/rich-tables-hug.md
Due: prettier

chore: Move non runtime packages to dev dependencies
  .changeset/sixty-pillows-work.md
  package.json
Due: prettier

chore: Update pnpm lockfile
  pnpm-lock.yaml
Due: none

chore: First draft of adding CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier

chore: Add changeset
  .changeset/tender-rocks-smell.md
Due: prettier

chore: Update PR instructions with changeset command and context
  CONTRIBUTING.md
Due: prettier

chore: Remove prettier since its run from a pre-commit hook
  CONTRIBUTING.md
Due: prettier

Add Contributing.md (#140)
  .changeset/tender-rocks-smell.md
  CONTRIBUTING.md
Due: prettier

added limited support for conditional property values (#135)
  .changeset/nine-timers-develop.md
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
Due: prettier, test, check

Revert "added limited support for conditional property values (#135)"
  .changeset/nine-timers-develop.md
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
Due: prettier, test, check

Revert "added limited support for conditional property values" (#141)
  .changeset/nine-timers-develop.md
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
Due: prettier, test, check

chore: Move non runtime packages to dev dependencies (#139)
  .changeset/sixty-pillows-work.md
  package.json
  pnpm-lock.yaml
Due: prettier

Fix description markdown rendering in completion (#137)
  .changeset/rich-tables-hug.md
  src/features/__tests__/__helpers__/completion.ts
  src/features/completion.ts
Due: prettier, test, check

Remove unused import.
  src/utils/json-pointers.ts
Due: prettier, test, check

updated to use fine grained shiki bundle
  package.json
  pnpm-lock.yaml
  src/utils/markdown.ts
  tsconfig.json
Due: prettier, test, check

Create sharp-glasses-give.md
  .changeset/sharp-glasses-give.md
Due: prettier

updated pnpm version in github workflows
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier

updated to use fine grained shiki bundle (#144)
  .changeset/sharp-glasses-give.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  src/utils/markdown.ts
  tsconfig.json
Due: prettier, test, check

Commit changeset.
  .changeset/hot-ways-stare.md
Due: prettier

remove ramdash
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
  src/parsers/json5-parser.ts
  src/utils/json-pointers.ts
  src/utils/recordUtil.ts
  vite.config.ts
Due: prettier, test, check

toggle `disableConsoleIntercept` for CI
  vite.config.ts
Due: prettier, test, check

add changeset
  .changeset/cuddly-toes-drop.md
  src/features/completion.ts
Due: prettier, test, check

Much more robust auto-completion suggestions for conditional types (even when current data is invalid) (#138)
  .changeset/cuddly-toes-drop.md
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/completion.ts
  src/parsers/json5-parser.ts
  src/utils/json-pointers.ts
  src/utils/recordUtil.ts
  vite.config.ts
Due: prettier, test, check
