Repository jsonnext/codemirror-json-schema: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, test, check

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,json,css,html,yml,mdx,md}"
      run: pnpm prettier:write {staged_files}
      stage_fixed: true
    test:
      run: pnpm vitest --run --dom related {staged_files}
      glob: "*.{js,ts,jsx,tsx}"
      fail_text: Tests failed or not found on {staged_files}
    check:
      run: pnpm tsc --noEmit
      glob: "*.{js,ts,jsx,tsx}"

Create LICENSE
  LICENSE
Due: none

add changset for license release
  .changeset/sixty-beds-turn.md
Due: prettier

yaml: recognize flow mapping and sequence
  src/__tests__/json-validation.spec.ts
  src/constants.ts
Due: prettier, test, check

tests: validation: add json tests to yaml
  src/__tests__/json-validation.spec.ts
Due: prettier, test, check

changeset: add for yaml flow seqs and mappings
  .changeset/twelve-starfishes-thank.md
Due: prettier

Add support for yaml flow mapping and sequence (#94)
  .changeset/twelve-starfishes-thank.md
  src/__tests__/json-validation.spec.ts
  src/constants.ts
Due: prettier, test, check

Handle generic validation error
  src/json-validation.ts
Due: prettier, test, check

removed unnecessary additional argument
  src/json-validation.ts
Due: prettier, test, check

Create weak-bobcats-scream.md
  .changeset/weak-bobcats-scream.md
Due: prettier

added additional root object mention cleanup
  src/json-validation.ts
Due: prettier, test, check

export additional types
  src/index.ts
Due: prettier, test, check

Handle generic validation error (#103)
  .changeset/weak-bobcats-scream.md
  src/index.ts
  src/json-validation.ts
Due: prettier, test, check

fix autocomplete for schema with top level $ref
  src/__tests__/__fixtures__/schemas.ts
  src/__tests__/__helpers__/completion.ts
  src/__tests__/json-completion.spec.ts
  src/json-completion.ts
Due: prettier, test, check

(incomplete) retrieve value prefix for proper value completion
  src/__tests__/json-completion.spec.ts
  src/json-completion.ts
  src/utils/node.ts
Due: prettier, test, check

fix autocomplete for schema with top level complex type
  src/__tests__/json-completion.spec.ts
  src/json-completion.ts
Due: prettier, test, check

Create perfect-balloons-teach.md
  .changeset/perfect-balloons-teach.md
Due: prettier

Improvements to completion logic (mainly for top level) (#102)
  .changeset/perfect-balloons-teach.md
  src/__tests__/__fixtures__/schemas.ts
  src/__tests__/__helpers__/completion.ts
  src/__tests__/json-completion.spec.ts
  src/json-completion.ts
  src/utils/node.ts
Due: prettier, test, check

fix: switch to bundler
  package.json
  pnpm-lock.yaml
  src/json-completion.ts
  src/json-validation.ts
  src/json5/completion.ts
  src/types.ts
  src/utils/parse-yaml-document.ts
  src/yaml/completion.ts
  tsconfig.json
Due: prettier, test, check

improve demo and hover rendering
  .npmrc
  README.md
  dev/index.html
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/__helpers__/completion.ts
  src/features/__tests__/__helpers__/index.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/__tests__/json-hover.spec.ts
  src/features/__tests__/json-validation.spec.ts
  src/features/completion.ts
  src/features/hover.ts
  src/features/state.ts
  src/features/validation.ts
  src/index.ts
  src/json/bundled.ts
  src/json5/bundled.ts
  src/json5/completion.ts
  src/json5/hover.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/utils/__tests__/json-pointers.spec.ts
  src/utils/__tests__/node.spec.ts
  src/utils/__tests__/parse-json-document.spec.ts
  src/utils/__tests__/parse-yaml-document.spec.ts
  src/utils/json-pointers.ts
  src/utils/markdown.ts
  src/utils/node.ts
  src/utils/parse-json-document.ts
  src/utils/parse-json5-document.ts
  src/utils/parse-yaml-document.ts
  src/yaml/bundled.ts
  src/yaml/completion.ts
  src/yaml/hover.ts
  src/yaml/index.ts
  src/yaml/validation.ts
  tsconfig.json
  vite.config.ts
Due: prettier, test, check

fix: resolve upstream issues
  src/features/__tests__/json-completion.spec.ts
  src/features/validation.ts
Due: prettier, test, check

fix: vite vulnerability
  package.json
  pnpm-lock.yaml
Due: prettier

fix: match to cm6
  src/json-completion.ts
  tsconfig.json
Due: prettier, test, check

fix: no change to module resolution on publish
  package.json
Due: prettier

fix: get rid of top level await for now
  .npmrc
  dev/index.ts
  package.json
  src/utils/markdown.ts
  tsconfig.json
Due: prettier, test, check

improve bundling, demo and hover rendering (#87)
  README.md
  dev/index.html
  dev/index.ts
  package.json
  pnpm-lock.yaml
  src/features/__tests__/__fixtures__/schemas.ts
  src/features/__tests__/__helpers__/completion.ts
  src/features/__tests__/__helpers__/index.ts
  src/features/__tests__/json-completion.spec.ts
  src/features/__tests__/json-hover.spec.ts
  src/features/__tests__/json-validation.spec.ts
  src/features/completion.ts
  src/features/hover.ts
  src/features/state.ts
  src/features/validation.ts
  src/index.ts
  src/json/bundled.ts
  src/json5/bundled.ts
  src/json5/completion.ts
  src/json5/hover.ts
  src/json5/index.ts
  src/json5/validation.ts
  src/utils/__tests__/json-pointers.spec.ts
  src/utils/__tests__/node.spec.ts
  src/utils/__tests__/parse-json-document.spec.ts
  src/utils/__tests__/parse-yaml-document.spec.ts
  src/utils/json-pointers.ts
  src/utils/markdown.ts
  src/utils/node.ts
  src/utils/parse-json-document.ts
  src/utils/parse-json5-document.ts
  src/utils/parse-yaml-document.ts
  src/yaml/bundled.ts
  src/yaml/completion.ts
  src/yaml/hover.ts
  src/yaml/index.ts
  src/yaml/validation.ts
  tsconfig.json
  vite.config.ts
Due: prettier, test, check

enable pull request scope
  .github/workflows/release.yml
Due: prettier

enable pull request scope for changesets releases (#110)
  .github/workflows/release.yml
Due: prettier

need to contents: write as well
  .github/workflows/release.yml
Due: prettier

need to contents: write as well (#111)
  .github/workflows/release.yml
Due: prettier

changeset for bundling fix
  .changeset/funny-countries-explode.md
Due: prettier

changeset for bundling fix (#112)
  .changeset/funny-countries-explode.md
Due: prettier

fix: remove unnecessary node flag
  package.json
Due: prettier

fix: remove unnecessary node flag (#113)
  package.json
Due: prettier

fix: add autocomplete optional version, upgraded dev deps
  .changeset/hungry-apricots-hang.md
  package.json
  pnpm-lock.yaml
Due: prettier

fix: remove codemirror base package dep
  package.json
  pnpm-lock.yaml
Due: prettier

fix: add autocomplete optional version, upgraded dev deps (#115)
  .changeset/hungry-apricots-hang.md
  package.json
  pnpm-lock.yaml
Due: prettier

gix #105 - validate all strings
  .changeset/few-emus-live.md
  src/features/validation.ts
Due: prettier, test, check

fix #105 - validate all strings (#117)
  .changeset/few-emus-live.md
  src/features/validation.ts
Due: prettier, test, check

fix demo highlighting
  dev/index.ts
  package.json
  pnpm-lock.yaml
Due: prettier, test, check

Create funny-ligers-call.md
  .changeset/funny-ligers-call.md
Due: prettier
